:root {
  --background-color: var(--background-light);
  --task-color: var(--task-light);
  --text-color: var(--text-light);
  --checkbox-color: var(--checkbox-light);
  --ff: #f5f5f5;
}

.light-theme {
  --background-light: #f5f5f5;
  --task-light: #ffffff;
  --text-light: #1a1a1a;
  --checkbox-light: #007bff;
}

.dark-theme {
  --background-light: #18181b;
  --task-light: #27272a;
  --text-light: #ffffff;
  --checkbox-light: #72b6f4;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 24px;
}

.task {
  background-color: var(--task-color);
}

.checkbox {
  border-color: var(--checkbox-color);
}

.dark-theme {
  background-color: #18181b;
}

.light-theme {
  background-color: #f5f5f5;
}
